.title-slider{
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
}
.contenedor{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#slider{

    width: 2000px;
    height: 90px;
    background-image: url('../img/carrusel/carrusel.jpg');
    background-size: 100% 100%;
    animation: slider 15s infinite linear;
}
@keyframes slider {

    to {

        background-position: 2000px;
    }
}